<%= render 'partials/header' %>

<%= form_with(model: @employee, url: update_employee_path) do |form| %>
  <div>
    <%= form.label :employee_first_name %>
    <%= form.text_field :employee_first_name %>
  </div>
<br>
  <div>
    <%= form.label :employee_last_name %>
    <%= form.text_field :employee_last_name %>
  </div>
<br>
  <div>
    <%= form.label :employee_email %>
    <%= form.text_field :employee_email %>
  </div>
<br>

  <div>
    <%= form.label :employee_contact %>
    <%= form.text_field :employee_contact %>
  </div>
<br>

  <div>
    <%= form.label :employee_salary %>
    <%= form.text_field :employee_salary %>
  </div>
<br>

  <div>
    <%= form.label :employee_age %>
    <%= form.text_field :employee_age %>
  </div>
<br>
  <div>
    <%= form.label :employee_joining_date %>
    <%= form.date_field :employee_joining_date %>
  </div>
<br>
  <div>
    <%= form.label :employee_image %>
    <%= form.file_field :avtar %>
  </div>
<br>
  <div>
    <%= form.submit 'Update Employee' %>
  </div>
<br>
<% end %>
<%= link_to 'Back To Employee', show_all_employee_path %>