
<%= render 'partials/header' %>


<%= form_with(model: @employee, url: create_employee_path) do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
<br>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
<br>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
<br>

  <div>
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>
<br>

  <div>
    <%= form.label :salary %>
    <%= form.text_field :salary %>
  </div>
<br>

  <div>
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
<br>
  <div>
    <%= form.label :joining_date %>
    <%= form.date_field :joining_date %>
  </div>
<br>
  <div>
    <%= form.label :image %>
    <%= form.file_field :avatar %>
  </div>
<br>
  <div>
    <%= form.submit 'Add Employee' %>
  </div>
<br>
<% end %>
<%= link_to 'Back To Employee', show_all_employee_path %>